.colorPicker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: auto;
    background: #f9f9f9;
    max-width: 500px;
    }

.components {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.component {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider {
    flex-grow: 1;
}

.swatch {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(128, 128, 128);
}
.saveSwatch {
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(128, 128, 128);
    margin-top: 10px;
}
.saveSwatchContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}
.removeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(128, 128, 128);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 8%;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
