*{
    margin: 0;
    font-family: helvetica, sans-serif;
}
body{
    border-top: #ebe8e8 solid 1px;
}
h1{
    font-size: 2.5em;
    border-bottom: solid black 2px;
    padding-bottom: 1em;
    text-transform: uppercase;
}
h2{
    font-size: 150%;
    margin-bottom: 1em;
}
.respimg {
    width: 100%;
    height: auto;
    display: block;
}
.header-image{
    height: 50px;
    display: block;
}
body > header{
    border-bottom: #ebe8e8 solid 1px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
nav{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 0;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
nav a{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #5b4746;
    font-size: 13px;
    border-right: #ebe8e8 solid 1px;
    padding: 10px 0;
}
nav a:last-child{
    border-right: none;
}
nav a:hover{
    border-bottom: #fff100 2px solid;
}
main header{
    height: 500px;
    background-image: url("../imagesKitchn/headerimage.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}
main header p{
    text-shadow: 2px 2px  #8D99AE;
    font-size: 40px;
    color: white;

}
section{
    margin: 50px auto;
    max-width: 980px;
}
.article-titel{
    font-size: 1.2em;
    color: #ff4d56;
    letter-spacing: 1px;
    border-top: #ebe8e8 solid 1px;
}
article{
    display: grid;
    grid-gap: 15px;
    margin-top: 20px ;
    grid-template-columns: repeat(2, 1fr);
}
h2 a{
    text-decoration: none;
    color: black;
}
article div{
    color: #666;
}
article div p{
    line-height: 2;
    margin-right: 15px;
}
.item-auteur{
    font-style: italic;
    font-weight: bold;
    padding-right: 10px;
    border-right: #ebe8e8 solid 1px;
}
.item-date{
    color: #666;
    padding-left: 10px;
}
.pics-rec{
    margin-top: 25px;
}
.recommended, .recipes{
    width: 100%;
    max-width: 980px;
}
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ebe8e8;
    padding: 20px;
    box-sizing: border-box;
    line-height: 2em;
}
footer div {
    flex: 1;
    text-align: center;
}
#left {
    text-align: right;
    padding-right: 10px;
}
#right {
    text-align: left;
    background-color: black;
    color: white;
    padding-left: 10px;
}

        /* Media Queries */
@media screen and (max-width: 770px) {
    body>header, nav,.recommended, .recipes {
        max-width: 600px;
    }
    .col-4{
        width: 100%;
    }
}
@media screen and (min-width: 800px) {
    main header p{
        font-size: 5em;
    }
}
@media screen and (max-width: 1000px) {
    body>header, nav, .recommended, .recipes {
        max-width: 750px;
    }
    .col-4{
        width: 50%;
    }
}