body{
    font-family: 'Lato', sans-serif;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
    grid-template-areas:
            'block1 block1 block1'
            'block2 block3 block4'
            'block2 block5 block5'
            'block6 block6 block7'
            'block8 block8 block8';

    background-color: white;

    padding: 10px;
}
.block1{ grid-area: block1; background-color: #01161E; color: #AEC3B0 }
.block2{ grid-area: block2; background-color: #124559; color: #AEC3B0 }
.block3{ grid-area: block3; background-color: #598392; color: #AEC3B0 }
.block4{ grid-area: block4; background-color: #AEC3B0; color: #01161E }
.block5{ grid-area: block5; background-color: #598392; color: #AEC3B0 }
.block6{ grid-area: block6; background-color: #598392; color: #AEC3B0 }
.block7{ grid-area: block7; background-color: #AEC3B0; color: #01161E }
.block8{ grid-area: block8; background-color: #124559; color: #EFF6E0 }

.container .block {
    padding: 25px;
    text-align: center;
    font-size: 2em;
}