.container{
    background-color: #598392;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}
.container .block{
    margin: 50px;
    padding: 50px;
    background-color: white;
    text-align: center;
}
.block1{
    grid-area: 1/1/1/1;
}
.block2{
    grid-area: 2/2/2/2;
}
.block3{
    grid-area: 3/3/3/3;
}
.block4{
    grid-area: 4/4/4/4;
}
.block5{
    grid-area: 5/5/5/5;
}
.block6{
    grid-area: 5/1/5/1;
}
.block7{
    grid-area: 4/2/4/2;
}
.block8{
    grid-area: 2/4/2/4;
}
.block9{
    grid-area: 1/5/1/5;
}